In [1]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [2]:
col_names = ['pregnant', 'glucose', 'bp', 'skin', 'insulin', 'bmi', 'pedigree', 'age', 'label']
# load dataset
pima = pd.read_csv("/home/purva/Downloads/archive/diabetes.csv", header=None, names=col_names)

In [3]:
pima.head()

,pregnant,glucose,bp,skin,insulin,bmi,pedigree,age,label
0,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
1,6,148,72,35,0,33.6,0.627,50,1
2,1,85,66,29,0,26.6,0.351,31,0
3,8,183,64,0,0,23.3,0.672,32,1
4,1,89,66,23,94,28.1,0.167,21,0

In [30]:
#split dataset in features and target variable
feature_cols = ['pregnant', 'insulin', 'bmi', 'age','glucose','bp','pedigree']
X = pima[feature_cols] # Features
y = pima.label # Target variable
X = X[1:]
y = y[1:]
X

    pregnant insulin   bmi age glucose  bp pedigree
1          6       0  33.6  50     148  72    0.627
2          1       0  26.6  31      85  66    0.351
3          8       0  23.3  32     183  64    0.672
4          1      94  28.1  21      89  66    0.167
5          0     168  43.1  33     137  40    2.288
..       ...     ...   ...  ..     ...  ..      ...
764       10     180  32.9  63     101  76    0.171
765        2       0  36.8  27     122  70     0.34
766        5     112  26.2  30     121  72    0.245
767        1       0  30.1  47     126  60    0.349
768        1       0  30.4  23      93  70    0.315

[768 rows x 7 columns]

In [31]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)

In [32]:
X_test

    pregnant insulin   bmi age glucose  bp pedigree
286        7     135    26  51     136  74    0.647
102        1       0  26.1  22     151  60    0.179
582        6       0    25  27     109  60    0.206
353        3       0  34.4  46      61  82    0.243
727        1     180  36.1  25     116  78    0.496
..       ...     ...   ...  ..     ...  ..      ...
242        4      88  33.1  22      91  70    0.446
600        1     120  23.1  26     109  38    0.407
651        1     100  25.2  23      91  54    0.234
12        10       0    38  34     168  74    0.537
215        9     175  34.2  36     112  82     0.26

[231 rows x 7 columns]

In [33]:
clf = DecisionTreeClassifier()

In [34]:
clf = clf.fit(X_train,y_train)

In [35]:
y_pred = clf.predict(X_test)

In [36]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.6926406926406926